---
layout: default
home: true
txtlogo: true
imglogo: true
topmap: yes

---

{% include partials/head.html %}
{% if page.topmap %}
	<div id="mapa">
  		{% include mapa.html %}
  		<label for="theme-soft" id="label-light" data-title="Light theme" title="Modo claro" class="expand anm-zoomIn delay-1000"><b>&DownTeeArrow;</b></label>
  		<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-soft" name="theme" aria-hidden="true" hidden>
		<input type="radio" id="theme-dark" name="theme" aria-hidden="true" hidden>
	</div>
{% endif %}
<main id="page-main" role="main">
	<div id="layout">
		<section class="cited">
			<h2><small>{{ site.location }}</small></h2>
			<h4><div><img src="{{ site.baseurl }}/hipertextos/brand/iconmetro.png" alt="Metro"></div> Santa Coloma <div class="red">L1</div></h4>
		</section>
		<div id="alternativa">
			<h5><small><i class="icon-flickr"></i></small></h5>
			<h4><small>{{ site.description }}<br>{{ site.alternativa }}</small></h4>
			<h5><small><i class="icon-flickr"></i></small></h5>
		</div>
		<hr class="lines">
		<div id="horari">
  			{% include horari.html %} 
		</div>
		<hr>
		<div id="domicili">
  			{% include domicili.html %} 
		</div>
		<hr>
		<em><a class="detalls" href="{{ site.baseurl }}/contacte/#intro" title="Més Informació"><i class="icon-support"></i> Contacto</a></em>
		<hr class="lines">
	</div>
</main>
<div id="justeat">
	{% include premis.html %} 
</div>