<div class="thumb-6">
<i class="icon-support"></i>
</div>
<div class="thumb-6">
	<h3>Permisos</h3>
	<div class="columns-2">
{% if site.p1 %}<h4><small>{{ site.p1 }}</small></h4>{% endif %}
{% if site.p2 %}<h4><small>{{ site.p2 }}</small></h4>{% endif %}
{% if site.p3 %}<h4><small>{{ site.p3 }}</small></h4>{% endif %}
{% if site.p4 %}<h4><small>{{ site.p4 }}</small></h4>{% endif %}
{% if site.p5 %}<h4><small>{{ site.p5 }}</small></h4>{% endif %}
{% if site.p6 %}<h4><small>{{ site.p6 }}</small></h4>{% endif %}
{% if site.p7 %}<h4><small>{{ site.p7 }}</small></h4>{% endif %}
{% if site.p8 %}<h4><small>{{ site.p8 }}</small></h4>{% endif %}
{% if site.p9 %}<h4><small>{{ site.p9 }}</small></h4>{% endif %}
	</div>
<br>
</div>