<div class="thumb-6">
<i class="icon-support"></i>
</div>
<div class="thumb-6">
	<h3>Permisos</h3>
{% if site.p1 %}<h5>{{ site.p1 }}</h4>{% endif %}
{% if site.p2 %}<h5>{{ site.p2 }}</h4>{% endif %}
{% if site.p3 %}<h5>{{ site.p3 }}</h4>{% endif %}
{% if site.p4 %}<h5>{{ site.p4 }}</h4>{% endif %}
{% if site.p5 %}<h5>{{ site.p5 }}</h4>{% endif %}
{% if site.p6 %}<h5>{{ site.p6 }}</h4>{% endif %}
{% if site.p7 %}<h5>{{ site.p7 }}</h4>{% endif %}
{% if site.p8 %}<h5>{{ site.p8 }}</h4>{% endif %}
{% if site.p9 %}<h5>{{ site.p9 }}</h4>{% endif %}
<br>
</div>