{% if site.p1 %}
<div class="thumb-4">
<i class="icon-car"></i>
<h5><small>{{ site.p1 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p2 %}
<div class="thumb-4">
<i class="icon-scooter"></i>
<h5><small>{{ site.p2 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p3 %}
<div class="thumb-4">
<i class="icon-van"></i>
<h5><small>{{ site.p3 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p4 %}
<div class="thumb-4">
<i class="icon-support"></i>
<h5><small>{{ site.p4 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p5 %}
<div class="thumb-4">
<i class="icon-football"></i>
<h5><small>{{ site.p5 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p6 %}
<div class="thumb-4">
<i class="icon-link"></i>
<h5><small>{{ site.p6 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p7 %}
<div class="thumb-4">
<i class="icon-bug"></i>
<h5><small>{{ site.p7 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p8 %}
<div class="thumb-4">
<i class="icon-hammer"></i>
<h5><small>{{ site.p8 }}</small></h5>
<br>
</div>
{% endif %}
{% if site.p9 %}
<div class="thumb-4">
<i class="icon-handwriting"></i>
<h5><small>{{ site.p9 }}</small></h5>
<br>
</div>
{% endif %}

