<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://bonrollobarcelona.com/"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-carta.css" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,300,100,900" rel="stylesheet">
    {% include favicons.html %}
	
  </head>

  <body>
	
	<!-- Theme inputs (invisibles) -->		
	<input type="radio" id="theme-light" name="theme" aria-hidden="true" hidden>
	<input type="radio" id="theme-red" name="theme" aria-hidden="true" hidden>
	
	<!-- Page content -->
	<div class="page" id="page">
	{% include partials/navigation/nav.html %}
      {{ content }}
      
		{% if page.foot %}
		<hr>
		<div id="foot-cover" class="cover">
			<div>
			<h5><small><i class="icon-flickr"></i></small></h5>
			<h4><small>{{ site.description }}<br>{{ site.alternativa }}</small></h4>
			<h5><small><i class="icon-flickr"></i></small></h5>
			</div>
		</div>
		{% endif %}
		{% if page.footmap %}
    	<div id="mapa">
  		{% include mapa.html %} 
		</div>
		{% endif %}
    {% include partials/footer.html %}
	</div>

	<!-- Tools switcher -->  		
  	<div id="tools-switcher">
  		<label for="tools-check" data-title="Modos" class="pophover">+</label>
  	</div>
	<!-- Tools nav -->
	<input type="checkbox" id="tools-check" name="Modos" aria-hidden="true" hidden>
	<nav id="tools-nav">
		<label for="tools-check" id="label-tools" data-title="Cerrar" class="pophover">x</label>
		<label for="theme-dark" id="label-dark" data-title="Modo Oscuro" class="pophover"></label>
		<label for="theme-soft" id="label-soft" data-title="Modo Rojo" class="pophover"></label>
		<label for="theme-light" id="label-light" data-title="Modo Claro" class="pophover"></label>
	</nav>
	
    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>

    {% include analytics.html %}
  </body>
</html>
